.bodyTitleContainer {
    width: 100%;
    display: inline-flex;
    background-color: var(--tertiary-background);
    color: var(--secondary);
}

.bodyTitle:last-child {
    border-left: none;
}

.item {
    height: 24px;
    font-size: 22px;
    height: 0.71cm;
}

.day {
    min-width: 47px;
    max-width: 47px ;
    width: 100%;
    flex: 1;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
}

.date {
    min-width: 100px;
    max-width: 100px;
    flex: 6;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
}

.all {
    min-width: 474px;
    width: 100%;
    flex: 6;
    display: inline-flex;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
}

.qty {
    flex: 1;
    min-width: 44px;
    display: inline-flex;
    justify-content: center;
}

.position {
    min-width: 140px;
    max-width: 140px;
    flex: 4;
    display: inline-flex;
    justify-content: center;
}

.tech {
    min-width: 153px;
    width: 100%;
    flex: 8;
    display: inline-flex;
    justify-content: center;
}

.time {
    min-width: 190px;
    flex: 8;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    
}

.hrs {
    min-width: 81px;
    flex: 1;
    display: inline-flex;
    justify-content: center;
}