.primaryText {
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    font-family: var(--primary-font);
}

.secondaryText {
    font-size: 20px;
    line-height: 23px;
    color: #737272;
    margin: auto 0;
}

.bold {
    font-weight: bold;
}