.fileList {
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    margin-bottom: 45px;
}

.files {
    display: flex;
    flex-direction: column;
}

.withSubtitle {
    display: flex;
}

.withSubtitle a {
    font-size: 32px;
}