.navButton {
    width: 214px;
    height: 58px;
    background-color: #212D4E;
    display: inline-flex;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.navButton:hover {
    background-color: #2B3A5F;
}

.content {
    font-size: 32px;
    text-transform: uppercase;
    margin: auto;
    color: #FFF;
}