:root {
  --background: #FFFFFF;
  --secondary-background: #F1F1F1;

  --font-color: #000000;
  
  --primary: #212D4E;
  --secondary: #d2d2d2;

  --primary-font: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--font-color);
  background: var(--background);
  display: flex;
  width: 100%;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-family: sans-serif;
  font-weight: light;
  margin-top: 11px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  width: 100%;
}