.renderingPanel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.renderingPreview {
    width: calc(100% - 23px);
    height: 80vh;
    background-color: #ffffff;
    margin: auto auto auto 0;
    padding: 10px 20px 10px 20px;
    overflow-y: scroll;
    z-index: 50;
    position: relative;
}

.pdfViewer {
    height: 100vh;
}

.renderingPreview::-webkit-scrollbar {
    width: 10px;
}

.renderingPreview::-webkit-scrollbar-track {
    background: #FFFFFF;
    color: #555;
    background-color: #a7a7a7;
}

.renderingPreview::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.renderingPreview::-webkit-scrollbar-thumb:hover {
    background: #000;
}


.downloadButton {
    height: 50px;
    background-color: #FFFFFF;
    border: solid 1px #000000;
    border-radius: 15px;
    margin: 0 auto auto auto;
    padding: 10px 20px 0 20px;
    box-shadow: inset 0px -10px 15px -15px rgba(0, 0, 0, 0.75);
    z-index: 5;
}