.category {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    justify-items: center;
    width: 100%;
    background-color: white;
    min-height: 0.71cm;
    font-size: 16px;
}

.day {
    min-width: 47px;
    flex: 1;
    box-sizing: border-box;
    display: inline-flex;
    min-height: 0.71cm;
}

.date {
    min-width: 100px;
    min-height: 0.71cm;
    flex: 6;
}


.qty {
    min-width: 44px;
    min-height: 0.71cm;
    flex: 1;
}

.position {
    min-width: 140px;
    flex: 4;
    min-height: 0.71cm;
    width: 100%;
}

.tech {
    min-width: 153px;
    flex: 8;
    min-height: 0.71cm;
}

.time {
    min-width: 190px;
    flex: 8;
    min-height: 0.71cm;
}

.hrs {
    min-width: 81px;
    min-height: 0.71cm;
    flex: 1;
}

.bumper {
    border-bottom: 1px solid #000;
}