.viewPanel {
    height: 100%;
    display: inline-flex;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    padding-left: 23px;
}

.secondary {
    background-color: var(--secondary-background);
}